{% extends './layouts/base.html' %} 


{% block title %} Prueba {% endblock %} 

{% block content %}

    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita aspernatur beatae quibusdam placeat dolorem doloribus dignissimos adipisci voluptatibus, voluptatem, consectetur neque quae odit. Alias nostrum officiis quas facilis porro voluptatem ipsum perspiciatis vero fugit sed! Porro consequuntur quidem provident quas voluptates, recusandae quis ea beatae optio dolores dicta sunt possimus, quos praesentium officia aspernatur consequatur veniam! Eos tempora, possimus tenetur nisi ullam reprehenderit provident quos eaque nesciunt. Reiciendis accusantium in, natus eum expedita perferendis debitis at sed odio quasi magnam possimus quaerat neque maiores esse explicabo eaque et! Quibusdam voluptatum, reiciendis eum obcaecati molestias ut doloribus unde eveniet vitae incidunt!</h1>

{% endblock  %}
